# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE
.idea
.vscode
.gonvim

#OS junk
.DS_Store

# temporary files and the rest of the crap
*.json
*.yml
*.yaml
json/*
examples/*
experiments/*
dist/*
secrets.*
cmd/slackdump/slackdump
cmd/sdconv/sdconv
/slackdump
/TODO.*
/*.txt
*~
.env
*.cache
*.log

# goreleaser stuff
dist/
!.goreleaser.yaml
!schema.json
*.jsonl
*.state

# sundry junk used for testing and other fuckery
/tmp
*.dot
*.gz
